/* <local.css> */
/* local goread bootstrap css overrides
* -- @westurner */
body {
    background-color: #d7d7d7;
}
.navbar-default {
    background-color: #b7b7b7;
    border-color: #b7b7b7;
}
.navbar-fixed-top {
    border-width: 0;
}
a.navbar-brand {
    opacity: 0.5;
}
.btn-primary {
    color: #fff;
    background-color: #a7a7a7;
    border: 0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #373737;
    border: 0;
}
.menu {
    border: 0;
}
.dropdown-menu {
    background: #e7e7e7;
    border: 0;
}
.story {
    border-left: 1px solid #d7d7d7;
}
.story.selected {
    border-left: 1px solid #ccc;
}
.story-header {
    background-color: #f7f7f7;
}
.story-header.read {
    background-color: #d7d7d7;
}
.story-content a {
    text-decoration: underline !important;
}
.story-footer {
    background-color: inherit;
}
.active {
    color: #8b2200;
}
.all-subs {
    padding: 2px 0;
}
div#feed-list ul.list-unstyled li {
    padding-top: 6px;
}
/* 
.btn-primary {
    background-color: #8b2200;
}
/* </local.css> */
